.courses-h1 {
    text-align: center;
    /* margin: 40px auto; */
    word-spacing: 3px;
    color: white;
    padding-top: 50px;
    margin-bottom: 70px;
    font-size: 50px;
    font-weight: bold;
  }

  .events-body {
    margin-top: 10px;
    font-family: "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-image: url("./bgimg.png") ;
    background-repeat:no-repeat;
  background-size:cover;
    
  }  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  

  
  