.n-wrapper{
    height:10vh;
    display:flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
}

.n-left {
    flex: 1;
    align-items: center;
    justify-content: left;
    display: flex;
    gap: 2rem;
    padding-left: 30px;
    font-size: 20px;
  }

  .n-name {
    font-size: 1.3rem;
    font-weight: bold;
  }

  .n-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 400;
    padding-right: 30px;
    font-size: 20px;
  }

 
  

/* CSS */
.button-56 {
  align-items: center;
  background-color: #6d64bd;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #FFF;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #6d64bd;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}