.trending-p{
    text-align: center;
    font-weight: bolder;
    font-size: 80px;
    color: black;
}

.im1{
    /* height: 60px; */
    width: 90%;  
    margin: auto;
    /* padding-bottom: 30px; */
}

.trending{
    /* padding-left: 10px; */
    /* justify-items: center; */
    
    background-color: rgb(216, 207, 251);
}
